@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

$red: hsl(0, 78%, 62%);
$cyan: hsl(180, 62%, 55%);
$orange: hsl(34, 97%, 64%);
$blue: hsl(212, 86%, 64%);
$grey500: hsl(234, 12%, 34%);
$grey400: hsl(212, 6%, 44%);
$white: hsl(0, 0%, 100%);

@mixin flexCenter($direction) {
	display: flex;
	flex-direction: $direction;
	justify-content: center;
	align-items: center;
}

:root {
	font-size: 15px;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	@include flexCenter(column);
	width: 100vw;
	padding: 2rem 0;
	font-family: Poppins;
}

h1 {
	font-size: clamp(1.6rem, 1.434rem + 0.71vw, 2rem);
	font-weight: 200;
	margin-bottom: 1rem;

	span {
		font-weight: 600;
	}

	+ p {
		text-align: center;
		width: clamp(21.33rem, 12.535rem + 26.52vw, 33.75rem);
		margin-bottom: 2rem;
	}
}

section {
	width: clamp(23rem, 21.55rem + 6.19vw, 26.5rem);
	// max-width: 26.5rem;
	padding: 2rem;
	border-radius: 0.5rem;
	box-shadow: 0.2em 1em 1em hsl(0, 0%, 85%); //$grey400
	margin-top: 2rem;
	color: $grey500;

	h2 {
		margin-bottom: 0.5rem;
	}

	p {
		color: $grey500;
		margin-bottom: 1.5rem;
		max-width: 35rem;
	}

	.icon {
		text-align: end;
	}
}

.supervisor {
	border-top: 5px $cyan solid;
}

.team-builder {
	border-top: 5px $red solid;
}

.karma {
	border-top: 5px $orange solid;
}

.calculator {
	border-top: 5px $blue solid;
}

@media (min-width: 1440px) {
	.sects {
		display: grid;
		grid-template: repeat(4, 1fr) / repeat(3, 1fr); //26.5rem
		gap: 2rem;
	}

	section {
		width: 25rem;
		margin-top: 0;
	}

	.supervisor {
		border-top: 5px $cyan solid;
		grid-area: 2 / 1 / 4 / 2;
	}

	.team-builder {
		border-top: 5px $red solid;
		grid-area: 1 / 2 / 3 / 4;
	}

	.karma {
		border-top: 5px $orange solid;
		grid-area: 3 / 2 / 5 / 4;
	}

	.calculator {
		border-top: 5px $blue solid;
		grid-area: 2 / 3 / 4 / 5;
	}
}
